<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelloHogehoge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="list-group">
    <a href="/00" class="list-group-item list-group-item-action list-group-item-light">"Hello World" を表示</a>
    <a href="/01" class="list-group-item list-group-item-action list-group-item-light">"Hello Java" を表示</a>
    <a href="/02" class="list-group-item list-group-item-action list-group-item-light">"Hello MySQL" を表示</a>
</div>

</body>
</html>
